body {
    color:rgb(234, 0, 255);
    background: rgba(16, 172, 172, 0.658)
    
    
    
}
header {
    border-buttom: solid 2px aqua
    padding: 2px;
    font-size: 32px;
    color:rgb(32, 100, 20);
}
section{
    background: rgb(234, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada texto{
     margin-right: 5%;
}
h1{font-size: 40px;

}
p{font-size: 20;

}